<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SnowSolution</title>
</head>
<body>
<main>
    <article>
        <header>
            <h3>SnowSolution -- снова работает для вас!</h3>
            <a button href="index.html"></a>
            <a button href="Error.html"></a>
            <a button href="Order.html"></a>
        </header>
    </article>
</main>



</body>
</html>